<section class="nav-item dropdown ms-2 me-3">
<a class="nav-link dropdown-toggle text-white" data-bs-toggle="dropdown" href="#" 
  role="button" aria-haspopup="true" aria-expanded="false">NICK NAME</a>
    <div class="dropdown-menu">
      <a class="dropdown-item"
       routerLink="/app-profile"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">My profile</a>
      <a class="dropdown-item" 
       routerLink="/app-blogs-list"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">My blogs</a>
      <a class="dropdown-item">My plans</a>

    </div>
  </section>
