<form [formGroup]="planForm" class="plan-editor ms-3 me-3" (input)="checkFormValidity()">
  <div class="title">
    <label class="col-form-label col-form-label-lg mt-4" for="inputLarge"
      >Write the title*</label
    >
    <input
      class="form-control form-control-lg"
      type="text"
      id="title"
      formControlName="title"
    />
    <app-validations [control]="planForm.get('title')" />
  </div>
  <div class="selects">
    <div class="destination flex-grow-1">
      <label for="destinationSelect" class="col-form-label-sm mt-4"
        >Select continent*</label
      >
      <select
        class="form-select"
        id="destinationSelect"
        formControlName="destination"
      >
        <option></option>
        @for(destination of blogUtils.destinations; track destination){
        <option>{{ destination }}</option>
        }
      </select>
      <app-validations [control]="planForm.get('destination')" />
    </div>
    <div class="date flex-grow-1">
      <label for="dateSelect" class="col-form-label-sm mt-4">Select date</label>
      <select class="form-select" id="monthSelect" formControlName="month">
        <option></option>
        @for(month of blogUtils.months; track month){
        <option>{{ month }}</option>
        }
      </select>
      <select class="form-select" id="yearSelect" formControlName="year">
        <option></option>
        @for(year of blogUtils.years; track year){
        <option>{{ year }}</option>
        }
      </select>
    </div>
      <div class="date flex-grow-1">
        <label for="dateSelect" class="col-form-label-sm mt-4"
          >Select number of days</label
        >
        <select class="form-select" id="nDaysSelect" formControlName="nDays">
          <option></option>
          @for(day of blogUtils.days; track day){
          <option>{{ day }}</option>
          }
        </select>
      </div>
      <div class="travelers flex-grow-1">
        <label for="travelersSelect" class="col-form-label-sm mt-4"
          >Select number of travelers</label
        >
        <select class="form-select" formControlName="travelers">
          <option></option>
          @for(traveler of blogUtils.travelers; track traveler){
          <option>{{ traveler }}</option>
          }
        </select>
      </div>
      <div class="coutnry flex-grow-1">
        <label style="min-width: 150px" class="w-auto col-form-label-sm mt-4"
          >Select Country*</label
        >
        <select
          class="form-select"
          formControlName="country"
          (change)="onCountryChange($event)"
        >
          <option></option>
          @for(destination of countriesList(); track destination){
          <option>{{ destination.country }}</option>
          }
        </select>
        <app-validations [control]="planForm.get('country')" />
      </div>
      <div class="city flex-grow-1">
        <label style="min-width: 150px" class="w-auto col-form-label-sm mt-4"
          >Select City</label
        >
        <select class="form-select" formControlName="city">
          <option></option>
          @if (selectedCountry()) { @for (city of selectedCountry()!.cities;
          track city) {
          <option>{{ city }}</option>
          } }
        </select>
      </div>
  </div>
  <div class="textarea">
    <label for="textarea" class="form-label mt-4">Notes:</label>
    <textarea
      class="form-control"
      rows="5"
      aria-label="Notes"
      placeholder="Ex.g.: 1. Pre-Trip Essentials - Documents, Money, Health/Safety;
          2. Packing Reminders - Clothing/Tech;
          3. .... "
      formControlName="description"
    ></textarea>
  </div>
</form>
